/***********************************
Auto Hide Social Bookmarking Widget v3 For Blogger
By Way2Blogging
Url:http://www.way2blogging.org/
Page Url:http://www.way2blogging.org/2010/12/add-sexy-auto-hide-social-bookmarking.html
************************************/
#post-width-w2b {position: relative;float: left;min-height: 95px;margin-bottom: 10px;background-color:transparent !important;}
div.sexy-bookmarks{margin:20px 0 0 10px;border: 0;outline: none;clear:both !important}
div.sexy-bookmarks-expand{height:32px;overflow:hidden;}
div.sexy-bookmarks-bg-sexy{padding:28px 0 0 10px !important;background:transparent url('http://1.bp.blogspot.com/_nDNgmK8FIyI/TQTJPuabrrI/AAAAAAAAAO4/waUnzmO7wQM/sharing-shr.png') no-repeat !important }
div.sexy-bookmarks-bg-caring{padding:26px 0 0 10px !important;background:transparent url('http://2.bp.blogspot.com/_nDNgmK8FIyI/TQTJPeaSj_I/AAAAAAAAAO0/gvTtOvpwgvw/sharing-caring-hearts.png') no-repeat !important }
div.sexy-bookmarks-bg-caring-old{padding:26px 0 0 10px !important;background:transparent url('http://3.bp.blogspot.com/_nDNgmK8FIyI/TQTJOnrea8I/AAAAAAAAAOw/0_LdH7V0EQo/sharing-caring.png') no-repeat !important }
div.sexy-bookmarks-bg-love{padding:26px 0 0 10px !important;background:transparent url('http://4.bp.blogspot.com/_nDNgmK8FIyI/TQTJN1Z3bJI/AAAAAAAAAOo/0z7R1N44hx8/share-love-hearts.png') no-repeat !important }
div.sexy-bookmarks-bg-wealth{padding:35px 0 0 10px !important;background:transparent url('http://2.bp.blogspot.com/_nDNgmK8FIyI/TQTJOWoQjyI/AAAAAAAAAOs/IcQ3XBqnpAA/share-wealth.png') no-repeat !important }
div.sexy-bookmarks-bg-enjoy{padding:26px 0 0 10px !important;background:transparent url('http://1.bp.blogspot.com/_nDNgmK8FIyI/TQTJMu6w8jI/AAAAAAAAAOc/d3-oOUkcQ_8/share-enjoy.png') no-repeat !important }
div.sexy-bookmarks-bg-german{padding:35px 0 0 10px !important;background:transparent url('http://2.bp.blogspot.com/_nDNgmK8FIyI/TQTJNKSAEoI/AAAAAAAAAOg/Cu9Axx3W1ik/share-german.png') no-repeat !important }
div.sexy-bookmarks-bg-knowledge{padding:35px 0 0 10px !important;background:transparent url('http://4.bp.blogspot.com/_nDNgmK8FIyI/TQTJNdnrppI/AAAAAAAAAOk/IXmmA-uvZr4/s1600/share-knowledge.png') no-repeat !important }
div.sexy-bookmarks ul.socials{width:100% !important;margin:0 !important;padding:0 !important;float:left !important;background:transparent none !important;border:0 none !important;outline:0 none !important }
div.sexy-bookmarks ul.socials li{background-image:url('http://way2blogging.github.com/blogger-widgets/shr-sprite.png') !important;background-repeat:no-repeat !important;display:inline !important;float:left !important;list-style-type:none !important;padding:0 !important;height:29px !important;width:60px !important;cursor:pointer !important;margin:3px 0 0 !important;background-color:transparent !important;border:0 none !important;outline:0 none !important;clear:none !important }
div.sexy-bookmarks ul.socials li:before, div.sexy-bookmarks ul.socials li:after,div.sexy-bookmarks ul.socials li a:before, div.sexy-bookmarks ul.socials li a:after{content:none !important}
div.sexy-bookmarks ul.socials a,div.sexy-bookmarks ul.socials a:hover{display:block !important;width:60px !important;height:29px !important;text-indent:-9999px !important;background-color:transparent !important;text-decoration:none !important;border:0 none !important;margin:0 !important;padding:0 !important }
div.sexy-bookmarks ul.socials a:hover,div.sexy-bookmarks ul.socials li:hover{background-color:transparent !important;border:0 none !important;outline:0 none !important }
li.sexy-newsvine{background-position:left bottom !important}
li.sexy-newsvine:hover{background-position:left top !important}
li.sexy-linkedin{background-position:-70px bottom !important}
li.sexy-linkedin:hover{background-position:-70px top !important}
li.sexy-googlebookmarks{background-position:-140px bottom !important}
li.sexy-googlebookmarks:hover{background-position:-140px top !important}
li.sexy-googlereader{background-position:-210px bottom !important}
li.sexy-googlereader:hover{background-position:-210px top !important}
li.sexy-scriptstyle{background-position:-280px bottom !important}
li.sexy-scriptstyle:hover{background-position:-280px top !important}
li.sexy-mail{background-position:-350px bottom !important}
li.sexy-mail:hover{background-position:-350px top !important}
li.sexy-comfeed{background-position:-420px bottom !important}
li.sexy-comfeed:hover{background-position:-420px top !important}
li.sexy-twitter{background-position:-490px bottom !important}
li.sexy-twitter:hover{background-position:-490px top !important}
li.sexy-technorati{background-position:-560px bottom !important}
li.sexy-technorati:hover{background-position:-560px top !important}
li.sexy-stumbleupon{background-position:-630px bottom !important}
li.sexy-stumbleupon:hover{background-position:-630px top !important}
li.sexy-reddit{background-position:-700px bottom !important}
li.sexy-reddit:hover{background-position:-700px top !important}
li.sexy-myspace{background-position:-770px bottom !important}
li.sexy-myspace:hover{background-position:-770px top !important}
li.sexy-mixx{background-position:-840px bottom !important}
li.sexy-mixx:hover{background-position:-840px top !important}
li.sexy-diigo{background-position:-910px bottom !important}
li.sexy-diigo:hover{background-position:-910px top !important}
li.sexy-digg{background-position:-980px bottom !important}
li.sexy-digg:hover{background-position:-980px top !important}
li.sexy-designfloat{background-position:-1050px bottom !important}
li.sexy-designfloat:hover{background-position:-1050px top !important}
li.sexy-yahoobuzz{background-position:-1120px bottom !important}
li.sexy-yahoobuzz:hover{background-position:-1120px top !important}
li.sexy-delicious{background-position:-1190px bottom !important}
li.sexy-delicious:hover{background-position:-1190px top !important}
li.sexy-blinklist{background-position:-1260px bottom !important}
li.sexy-blinklist:hover{background-position:-1260px top !important}
li.sexy-facebook{background-position:-1330px bottom !important}
li.sexy-facebook:hover{background-position:-1330px top !important}
li.sexy-misterwong{background-position:-1400px bottom !important}
li.sexy-misterwong:hover{background-position:-1400px top !important}
li.sexy-izeby{background-position:-1470px bottom !important}
li.sexy-izeby:hover{background-position:-1470px top !important}
li.sexy-twittley{background-position:-1540px bottom !important}
li.sexy-twittley:hover{background-position:-1540px top !important}
li.sexy-tipd{background-position:-1610px bottom !important}
li.sexy-tipd:hover{background-position:-1610px top !important}
li.sexy-pfbuzz{background-position:-1680px bottom !important}
li.sexy-pfbuzz:hover{background-position:-1680px top !important}
li.sexy-friendfeed{background-position:-1750px bottom !important}
li.sexy-friendfeed:hover{background-position:-1750px top !important}
li.sexy-blogmarks{background-position:-1820px bottom !important}
li.sexy-blogmarks:hover{background-position:-1820px top !important}
li.sexy-fwisp{background-position:-1890px bottom !important}
li.sexy-fwisp:hover{background-position:-1890px top !important}
li.sexy-yahoomail{background-position:-1960px bottom !important}
li.sexy-yahoomail:hover{background-position:-1960px top !important}
li.sexy-bobrdobr{background-position:-2030px bottom !important}
li.sexy-bobrdobr:hover{background-position:-2030px top !important}
li.sexy-memoryru{background-position:-2100px bottom !important}
li.sexy-memoryru:hover{background-position:-2100px top !important}
li.sexy-100zakladok{background-position:-2170px bottom !important}
li.sexy-100zakladok:hover{background-position:-2170px top !important}
li.sexy-yandex{background-position:-2240px bottom !important}
li.sexy-yandex:hover{background-position:-2240px top !important}
li.sexy-moemesto{background-position:-2310px bottom !important}
li.sexy-moemesto:hover{background-position:-2310px top !important}
li.sexy-marrows{background-position:-2380px bottom !important}
li.sexy-marrows:hover{background-position:-2380px top !important}
li.sexy-identica{background-position:-2450px bottom !important}
li.sexy-identica:hover{background-position:-2450px top !important}
li.sexy-hackernews{background-position:-2520px bottom !important}
li.sexy-hackernews:hover{background-position:-2520px top !important}
li.sexy-ning{background-position:-2590px bottom !important}
li.sexy-ning:hover{background-position:-2590px top !important}
li.sexy-designbump{background-position:-2660px bottom !important}
li.sexy-designbump:hover{background-position:-2660px top !important}
li.sexy-printfriendly{background-position:-2730px bottom !important}
li.sexy-printfriendly:hover{background-position:-2730px top !important}
li.sexy-fleck{background-position:-2800px bottom !important}
li.sexy-fleck:hover{background-position:-2800px top !important}
li.sexy-netvibes{background-position:-2870px bottom !important}
li.sexy-netvibes:hover{background-position:-2870px top !important}
li.sexy-netvouz{background-position:-2940px bottom !important}
li.sexy-netvouz:hover{background-position:-2940px top !important}
li.sexy-nujij{background-position:-3010px bottom !important}
li.sexy-nujij:hover{background-position:-3010px top !important}
li.sexy-globalgrind{background-position:-3080px bottom !important}
li.sexy-globalgrind:hover{background-position:-3080px top !important}
li.sexy-wikio{background-position:-3150px bottom !important}
li.sexy-wikio:hover{background-position:-3150px top !important}
li.sexy-xerpi{background-position:-3220px bottom !important}
li.sexy-xerpi:hover{background-position:-3220px top !important}
li.sexy-sphinn{background-position:-3290px bottom !important}
li.sexy-sphinn:hover{background-position:-3290px top !important}
li.sexy-hotmail{background-position:-3360px bottom !important}
li.sexy-hotmail:hover{background-position:-3360px top !important}
li.sexy-posterous{background-position:-3430px bottom !important}
li.sexy-posterous:hover{background-position:-3430px top !important}
li.sexy-techmeme{background-position:-3500px bottom !important}
li.sexy-techmeme:hover{background-position:-3500px top !important}
li.sexy-ekudos{background-position:-3570px bottom !important}
li.sexy-ekudos:hover{background-position:-3570px top !important}
li.sexy-pingfm{background-position:-3640px bottom !important}
li.sexy-pingfm:hover{background-position:-3640px top !important}
li.sexy-tomuse{background-position:-3710px bottom !important}
li.sexy-tomuse:hover{background-position:-3710px top !important}
li.sexy-webblend{background-position:-3780px bottom !important}
li.sexy-webblend:hover{background-position:-3780px top !important}
li.sexy-wykop{background-position:-3850px bottom !important}
li.sexy-wykop:hover{background-position:-3850px top !important}
li.sexy-blogengage{background-position:-3920px bottom !important}
li.sexy-blogengage:hover{background-position:-3920px top !important}
li.sexy-hyves{background-position:-3990px bottom !important}
li.sexy-hyves:hover{background-position:-3990px top !important}
li.sexy-pusha{background-position:-4060px bottom !important}
li.sexy-pusha:hover{background-position:-4060px top !important}
li.sexy-hatena{background-position:-4130px bottom !important}
li.sexy-hatena:hover{background-position:-4130px top !important}
li.sexy-mylinkvault{background-position:-4200px bottom !important}
li.sexy-mylinkvault:hover{background-position:-4200px top !important}
li.sexy-slashdot{background-position:-4270px bottom !important}
li.sexy-slashdot:hover{background-position:-4270px top !important}
li.sexy-squidoo{background-position:-4340px bottom !important}
li.sexy-squidoo:hover{background-position:-4340px top !important}
li.sexy-propeller{background-position:-4410px bottom !important}
li.sexy-propeller:hover{background-position:-4410px top !important}
li.sexy-faqpal{background-position:-4480px bottom !important}
li.sexy-faqpal:hover{background-position:-4480px top !important}
li.sexy-evernote{background-position:-4550px bottom !important}
li.sexy-evernote:hover{background-position:-4550px top !important}
li.sexy-meneame{background-position:-4620px bottom !important}
li.sexy-meneame:hover{background-position:-4620px top !important}
li.sexy-bitacoras{background-position:-4690px bottom !important}
li.sexy-bitacoras:hover{background-position:-4690px top !important}
li.sexy-jumptags{background-position:-4760px bottom !important}
li.sexy-jumptags:hover{background-position:-4760px top !important}
li.sexy-bebo{background-position:-4830px bottom !important}
li.sexy-bebo:hover{background-position:-4830px top !important}
li.sexy-n4g{background-position:-4900px bottom !important}
li.sexy-n4g:hover{background-position:-4900px top !important}
li.sexy-strands{background-position:-4970px bottom !important}
li.sexy-strands:hover{background-position:-4970px top !important}
li.sexy-orkut{background-position:-5040px bottom !important}
li.sexy-orkut:hover{background-position:-5040px top !important}
li.sexy-tumblr{background-position:-5110px bottom !important}
li.sexy-tumblr:hover{background-position:-5110px top !important}
li.sexy-stumpedia{background-position:-5180px bottom !important}
li.sexy-stumpedia:hover{background-position:-5180px top !important}
li.sexy-current{background-position:-5250px bottom !important}
li.sexy-current:hover{background-position:-5250px top !important}
li.sexy-blogger{background-position:-5320px bottom !important}
li.sexy-blogger:hover{background-position:-5320px top !important}
li.sexy-plurk{background-position:-5390px bottom !important}
li.sexy-plurk:hover{background-position:-5390px top !important}
li.sexy-virb{background-position:-5460px bottom !important}
li.sexy-virb:hover{background-position:-5460px top !important}
li.sexy-dzone{background-position:-5530px bottom !important}
li.sexy-dzone:hover{background-position:-5530px top !important}
li.sexy-kaevur{background-position:-5600px bottom !important}
li.sexy-kaevur:hover{background-position:-5600px top !important}
li.sexy-boxnet{background-position:-5670px bottom !important}
li.sexy-boxnet:hover{background-position:-5670px top !important}
li.sexy-oknotizie{background-position:-5740px bottom !important}
li.sexy-oknotizie:hover{background-position:-5740px top !important}
li.sexy-bonzobox{background-position:-5810px bottom !important}
li.sexy-bonzobox:hover{background-position:-5810px top !important}
li.sexy-plaxo{background-position:-5880px bottom !important}
li.sexy-plaxo:hover{background-position:-5880px top !important}
li.sexy-springpad{background-position:-5950px bottom !important}
li.sexy-springpad:hover{background-position:-5950px top !important}
li.sexy-zabox{background-position:-6020px bottom !important}
li.sexy-zabox:hover{background-position:-6020px top !important}
li.sexy-viadeo{background-position:-6090px bottom !important}
li.sexy-viadeo:hover{background-position:-6090px top !important}
li.sexy-googlebuzz{background-position:-6160px bottom !important}
li.sexy-googlebuzz:hover{background-position:-6160px top !important}
li.sexy-gmail{background-position:-6230px bottom !important}
li.sexy-gmail:hover{background-position:-6230px top !important}
li.sexy-buzzster{background-position:-6300px bottom !important}
li.sexy-buzzster:hover{background-position:-6300px top !important}
li.sexy-way2blogging{background-position:0px -80px !important}

.sexy-link{margin: 3px 0 0 20px; font-size: 9px; float:left; color: #555; text-decoration: none;}
.sexy-link a{padding:10px 0; width:100%; color: #333; text-decoration: none; border:0; outline:none}